.choiceParent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 159px; */
    /* height: 136px; */
    min-height: fit-content;
}

.choiceParent img {
    margin-top: 35px;
    max-width: 45%;
}