html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

/* for tab menu */
.MuiTabs-indicator {
  background-color: #0FD7B5;
  color: white;
}

.Mui-selected {
  color: #fff !important;
  background: #0FD7B5;
}

/* for form text field */
.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
  /* font-size: 11px; */
  color: #6E6E6E;
}