.navParent {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 27px;
    /* border: red 2px solid; */
    height: fit-content;
    position: sticky;
    top: 0;
    background: #1B55CA;
    z-index: 1;
}

.child1 img {
    /* width: 27px; */
    /* margin-right: 10px; */
    /* margin-top: 10px; */
    transform: rotate(180deg);
    transform: scaleY(-1);
}

.child1 {
    /* width: 50%; */
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.child2 {
    width: 30px;
}

.imagebox {
    width: 30px;
}

.child2>img {
    transform: rotate(180deg);
    /* transform: scaleY(-1); */
}

/* side nav css begins */

.sideParent {
    position: absolute;
    top: 0;
    right: 0em;
    /* background-color: white; */
    /* border: yellow 2px solid; */
    /* width: calc(100% + 4em); */
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.56);
    z-index: 2;
}


.sidecontainer {
    width: 80%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #1B55CA;
    display: flex;
    flex-direction: column;
    row-gap: 23px;
    justify-content: space-between;
    align-items: center;
    padding-top: 62px;
    padding-bottom: 62px;
    /* text-align: center; */
}

.logo {
    display: flex;
    gap: 29px;
    align-items: center;
}

.logo>img {
    transform: rotate(180deg);
}

.item {
    position: relative;
    background-color: transparent;
    border: none;
    display: flex;
    /* align-items: center; */
    font-size: 16px;
    /* font-weight: bold; */
    font-family: "Poppins";
    color: white;
    gap: 37px;
}

.item:hover {
    color: #0EE8B2;
}

.item:hover::after {
    content: " ";
    width: 3.5ch;
    background-color: #0EE8B2;

    position: absolute;
    height: 3px;
    bottom: -2px;
    border-radius: 20px;
    left: 56px;

}