.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #DDE5F7; */
    padding-top: 128px;
    /* -webkit-clip-path: polygon(0 0, 100% 6%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 6%, 100% 100%, 0% 100%); */
    padding-bottom: 117px;

}