.parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.imgholder {
    margin-top: 52px;
    position: relative;
    box-shadow: 28px 14px 35px #0000000F;
}

.textholder {
    position: absolute;
    width: 100%;
    bottom: -5em;
    padding: 20px;
    text-align: start;
    background-color: rgba(255, 255, 255, 0.8);
}

.textholder>h6:nth-child(3) {
    padding-top: 16px;
}

.starsholder {
    margin-top: 10px;
}