.parent {
    background: rgba(0, 0, 0, 0.77);
    /* opacity: 0.77; */
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
}

.child {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 50%;
    height: 70%; */
    box-shadow: 0px 13px 31px #00000029;
    border-radius: 13px;
    opacity: 1;
    padding-bottom: 59px;
}

.image {
    max-width: 114px;
    max-height: 114px;
    margin-top: 39px;
    margin: 37px 107px;

}

.text h6 {
    margin: auto 50px 19px;
    line-height: 21px;
    letter-spacing: 0px;
}